/* Google Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Quicksand:wght@300..700&display=swap');

/* Asterisk wildcard selector to override default styles added by browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project style */
    color: #515151;
    font-family: "Quicksand", sans-serif;
}

/* Header */
header {
    background-color: #ffffff;
    padding: 0 0.5rem;
    position: fixed;
    width: 100%;
}

header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    font-family: "Oswald", sans-serif;
    font-size: 30px;
    color: #393939;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
}

#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
}

nav a {
    display: block;
    color: #393939;
    text-align: center;
    padding: 5px;
    text-decoration: none;
}

.underline {
    border-bottom: 1px solid #393939;
}

nav {
    background-color: #fff8dc;
    width: 100%;
    padding: 0;
}

/* Main Content */
main {
    background-color: lightblue;
    /* main takes surplus space to fill the page */
    flex: 1 0 auto;
}

/* Footer */
#contact {
    text-align: center;
    padding: 10px;
    color:#393939;

}

#social-media {
    display:flex;
    text-align: center;
    padding: 20px 10px;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-media i {
    font-size: 120%;
    color: #393939;
}

/* Media query: tablets and larger screens (768px and up) */
@media screen and (min-width: 768px) {

    /* Header */
   
    #logo {
        float: left;
        display: block;
        font-size: 220%;
        line-height: 85px;
        margin: 0 0.5rem;
    }

    nav {
        padding: 0.5rem 0;
        float: right;
        display: block;
        position: relative;
        width: fit-content;
        background-color: #ffffff;
    }

    #navbar {
        display: flex;
    }

    #navbar > li {
        padding: 1em;
        border: 2px solid #393939;
    }

    nav a:hover {
        font-weight: bold;
    }

    /* Main content */
    main {
        margin-top: 95px;
    }

    /* Footer */

}

