/* Google Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Quicksand:wght@300..700&display=swap');

/* Asterisk wildcard selector to override default styles added by browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project style */
    color: #000000;
    font-family: "Quicksand", sans-serif;
}

/* Header */
header {
    background-color: #ffffff;
    padding: 0 0.5rem;
    position: fixed;
    width: 100%;
}

h1 {
    font-family: "Oswald", sans-serif;
    font-size: 30px;
    color: #3b3b3b;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
}

/* Main Content */
main {
    background-color: lightblue;
    /* main takes surplus space to fill the page */
    flex: 1 0 auto;
}

/* Footer */
footer {
    background-color: lightgreen;
    margin-top: auto;
}