/* Google Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Quicksand:wght@300..700&display=swap');

/* Asterisk wildcard selector to override default styles added by browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project style */
    color: #515151;
    font-family: "Quicksand", sans-serif;
}

h1 {
    font-family: "Oswald", sans-serif;
    font-size: 30px;
    color: #393939;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
}

h2 {
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    color: #393939;
    letter-spacing: 1px;
    text-align: left;
    text-transform: uppercase;
}

h3 {
    font-family: "Oswald", sans-serif;
    font-size: 15px;
    color: #393939;
    letter-spacing: 1px;
    text-align: left;
    text-transform: uppercase;
    text-align: center;
}

/* Header */
header {
    background-color: #ffffff;
    padding: 0 0.5rem;
    position: fixed;
    width: 100%;
    z-index: 90;
    border-bottom: 2px solid #515151;
}

header a {
    text-decoration: none;
    color: inherit;
}

#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
}

nav a {
    display: block;
    color: #393939;
    text-align: center;
    padding: 5px;
    text-decoration: none;
}

.underline {
    border-bottom: 1px solid #393939;
}

nav {
    background-color: #ffffff;
    width: 100%;
    padding: 0;
}

/* Main Content */
main {
    /* main takes surplus space to fill the page */
    flex: 1 0 auto;
    margin-top: 180px;
    }

/* Section home-image */

#home-image {
    height: 400px;
    width: 100%;
    background: url("../images/alps-village.webp") no-repeat center center/cover;
    position: relative;
}

#home-text {
    background-color: rgba(233, 227, 217, 0.808);
    border-radius: 0px 100px 0px 0px;
    position: absolute;
    bottom: 0px;
    min-height: 80px;
    width: 70%;
    padding: 10px;
}

/* Section About us */

#about-us {
    height: 100%;
    width: 100%;
}

.text-box {
    width: 80%;
    padding: 20px;
    background-color: rgba(233, 227, 217, 0.808);
    box-shadow: 10px 5px 5px #393939;
    text-align: center;
    margin: 30px 0 30px 20px;
}

/* Section Gallery */

#photos {
    padding-bottom: 1.5em;
}

#photos img {
    width: 100%;
}

/* Section Coworking */

#coworking {
    width: 100%;
    height: auto;
    
}

#coworking-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}

.page-header h2 {
    text-align: center;
    padding: 10px;
}

.image-design img{
    object-position: 50% 50%;
    max-width: 100%;
    padding: 0 10px;
}

#text-design {
    padding: 10px;
}

.text-container {
    background-color: rgba(233, 227, 217, 0.808);
    box-sizing: border-box; 
    border: 1px solid #515151;
    height: 100%;
}

.part-one {
    text-align: left;
}

.small-title {
    padding: 10px;
}

.price {
    font-size: 120%;
    color: rgb(208, 31, 31);
    font-weight: bold;
    padding-left: 10px;
}

.part-two {
    padding: 10px;
}

.part-two ul{
    list-style-type: none;
}

.button-request {
    height: 40px;
    border: 3px solid #393939;
    background-color: #515151;
    font-size: 20px;
    min-width: 100px;
    padding: 0 15px;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    position: relative;
    justify-content: center;
}

.button-request a {
    text-decoration: none;
    color: #ffffff;
}

.button-request:hover {
    background-color: #3b5347;
}

/* Section Booking */

#booking {
    padding: 10px;
    background-color: aqua;
}

#booking h2, h3{
    text-align: center;
    margin-bottom: 10px;
}

#booking p {
    padding-left: 10px;
    margin-bottom: 20px;
    text-align: justify;
}

#booking-form {
    height: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: url("../images/landscape-view.webp") no-repeat center center/cover;
    position: relative;
    flex: 1;
}

#form {
    background-color: aliceblue;
    height: 600px;
    width: 100%;
    position: absolute;
    opacity: 0.65;
}
    

/* Footer */


#contact {
    text-align: center;
    padding: 10px;
    color:#393939;

}

#social-media {
    display:flex;
    text-align: center;
    padding: 20px 10px;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-media i {
    font-size: 120%;
    color: #393939;
}



/* Media query: tablets and larger screens (768px and up) */
@media screen and (min-width: 768px) {
    

    /* Header */
   
    #logo {
        float: left;
        display: block;
        font-size: 220%;
        line-height: 85px;
        margin: 0 0.5rem;
    }

    nav {
        margin-top: 8px;
        padding: 0.5rem 0;
        float: right;
        display: block;
        position: relative;
        width: fit-content;
        background-color: #ffffff;
        font-size: 110%;
    }

    #navbar {
        display: flex;
    }

    #navbar > li {
        padding: 0.5em;
        border: 2px solid #393939;
    }

    nav a:hover {
        font-weight: bold;
    }

    /* Main content */
    main {
        margin-top: 95px;
    }

    #home-image {
        height: 700px;
        }

    /* Section home-image */
    
    #home-big {
        font-size: 50px;
    }
    
    #home-text {
        width: 300px;
        border-radius:0px;
        bottom: 50px;
    }

    /* Section about us */
    .text-box {
        font-size: 150%;
        margin-left: 30px;
    }

    .text-box h3 {
        font-size: 30px;
    }

    /* Section coworking */
    .page-header h2 {
        font-size: 200%;
    }

    .image-design img{ 
        max-width: 600px;
        position: relative;
    }

    #text-design {
        display: flex;
        flex-direction: row;
        margin-top: 10px;
    }

    .text-container {
        width: 100%;
        height: 234px;
    }

    .small-title {
        font-size: 150%;
    }

    .part-one {
        font-size: 120%;
        font-weight: bold;
    }

    .part-two {
        font-size: 110%;
    }

    .part-two li {
        padding-bottom: 10px;
        font-weight: bold;
    }

    .button-request {
        margin-top: 10px;
        height: 50px;
        font-size: 30px;
        min-width: 120px;
    }
    
    /* Footer */ 
    
    #contact, #social-media {
        font-size: 150%;
    }
}

/* Media query: laptop and larger screens (992px and up) */
@media screen and (min-width: 992px) {

    /* Header */

    #logo {
        font-size: 250%;
        padding-top: 10px;
    }

    nav {
        font-size: 150%;
    }

    /* Section Gallery */

    #photos {
        display: flex;
        justify-content: space-between;
    }

    #photos img{
        max-height: 400px;
        max-width: 600px;
    }

    
}